{% extends 'base_dashboard.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <h3>Detalhes da Postagem</h3>
        <br>
        <table style="width: 100%;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Imagem</th>
                    <th>Resumo</th>
                    <th>Conteudo</th>
                    <th>Tipo arquivo</th>
                    <th>Url</th>
                    <th>Categoria da Postagem</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.titulo }}</td>
                    <td>{{ object.Texto }}</td>
                    <td>
                        {% if object.imagem %}
                            <img src="{{ object.imagem.url }}" alt="">
                        {% else %}
                            Sem imagem disponível
                        {% endif %}
                    </td>
                    <td>{{ object.Resumo }}</td>
                    <td>{{ object.conteudo }}</td>
                    <td>{{ object.tipo_arquivo }}</td>
                    <td>{{ object.Url }}</td>
                    <td>{{ object.categoria_postagem }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
