{% extends 'base_dashboard.html' %}
{% load bootstrap5 %}
{% block content %}
<main>
    <div class="container px-4 px-lg-5 mt-5">
        <section class="sct-form">
            <div class="form">
                <h1 style="margin-bottom: 40px;">Cadastre sua Postagem!</h1>

                <form method="post" id="postagemForm" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        {% bootstrap_field form.titulo %}
                    </div>

                    <div class="mb-3">
                        {% bootstrap_field form.categoria_postagem %}
                        
                    </div>

                    <div class="mb-3">
                        {% bootstrap_field form.Texto %}
                    </div>

                    {# Campos específicos para a categoria "Matematicos" e "Historia" #}
                    <div class="mb-3" id="conteudo-container">

                        {% bootstrap_field form.conteudo %}
                    </div>

                    <div class="mb-3" id="tipo-arquivo-container">
                        {% bootstrap_field form.tipo_arquivo %}
                    </div>

                    <div class="mb-3" id="url-container">
                        {% bootstrap_field form.Url %}
                    </div>

                    {# Campos específicos para a categoria "Exercicios" #}
                    <div class="mb-3" id="imagem-container">
                        {% bootstrap_field form.imagem %}
                    </div>

                    <div class="mb-3" id="resumo-container">
                        {% bootstrap_field form.Resumo %}
                    </div>

                    <button type="submit" id="submit-btn" class="btn btn-primary">Enviar</button>

                </form>
            </div>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Oculta inicialmente os campos específicos
            document.getElementById('conteudo-container').style.display = 'none';
            document.getElementById('tipo-arquivo-container').style.display = 'none';
            document.getElementById('url-container').style.display = 'none';
            document.getElementById('imagem-container').style.display = 'none';
            document.getElementById('resumo-container').style.display = 'none';
    
            document.getElementById('id_categoria_postagem').addEventListener('change', function () {
                var categoriaSelecionada = this.value;
    
                // Oculta todos os campos específicos
                document.getElementById('conteudo-container').style.display = 'none';
                document.getElementById('tipo-arquivo-container').style.display = 'none';
                document.getElementById('url-container').style.display = 'none';
                document.getElementById('imagem-container').style.display = 'none';
                document.getElementById('resumo-container').style.display = 'none';
    
                // Exibe os campos específicos da categoria selecionada
                if (categoriaSelecionada === 'Matematicos' || categoriaSelecionada === 'Historia') {
                    document.getElementById('imagem-container').style.display = 'block';
                    document.getElementById('resumo-container').style.display = 'block';
    
                } else if (categoriaSelecionada === 'Exercicios') {
                    document.getElementById('conteudo-container').style.display = 'block';
                    document.getElementById('tipo-arquivo-container').style.display = 'block';
                    document.getElementById('url-container').style.display = 'block';
    
                } else if (categoriaSelecionada === 'Novidades') {
                    document.getElementById('conteudo-container').style.display = 'block';
                    document.getElementById('imagem-container').style.display = 'block';
                    document.getElementById('resumo-container').style.display = 'block';
                }
            });
    
            document.getElementById('submit-btn').addEventListener('click', function () {
                document.getElementById('postagemForm').submit();
            });
        });
    </script>
    
</main>

{% endblock %}