{% extends 'base_dashboard.html' %}

{% block content %}
<br>

<main>
    <div class="container px-4 px-lg-5 mt-5">
        <section class="sct-form">
            <div class="form">
                <h1 style="margin-bottom: 40px;">Cadastre sua Postagem!</h1>

                <form method="post" id="postagemForm">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="Titulo" class="form-label">Titulo da postagem</label>
                        {{ form.titulo }}
                    </div>

                    <div class="mb-3">
                        <label for="Texto" class="form-label">Texto</label>
                        {{ form.Texto }}
                    </div>

                    <div class="mb-3">
                        <label for="data_postagem" class="form-label">Data da Postagem</label>
                        {{ form.Data_postagem }}
                    </div>

                    <div class="mb-3">
                        <label for="nome_empresa" class="form-label">Categoria da Postagem</label>
                        {{ form.categoria_postagem }}
                    </div>

                    {# Campos específicos para a categoria "Matematicos" e "Historia" #}
                    <div class="mb-3" id="conteudo-container">
                        <label for="conteudo" class="form-label">Conteúdo</label>
                        {{ form.conteudo }}
                    </div>

                    <div class="mb-3" id="tipo-arquivo-container">
                        <label for="tipo_arquivo" class="form-label">Tipo do Arquivo</label>
                        {{ form.tipo_arquivo }}
                    </div>

                    <div class="mb-3" id="url-container">
                        <label for="url" class="form-label">URL</label>
                        {{ form.Url }}
                    </div>

                    {# Campos específicos para a categoria "Exercicios" #}
                    <div class="mb-3" id="imagem-container">
                        <label for="imagem" class="form-label">Imagem</label>
                        {{ form.imagem }}
                    </div>

                    <div class="mb-3" id="resumo-container">
                        <label for="resumo" class="form-label">Resumo</label>
                        {{ form.resumo }}
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </section>
    </div>

    <script>
        document.getElementById('id_categoria_postagem').addEventListener('change', function () {
            var categoriaSelecionada = this.value;

            // Oculta todos os campos específicos
            document.getElementById('conteudo-container').style.display = 'none';
            document.getElementById('tipo-arquivo-container').style.display = 'none';
            document.getElementById('url-container').style.display = 'none';
            document.getElementById('imagem-container').style.display = 'none';
            document.getElementById('resumo-container').style.display = 'none';

            // Exibe os campos específicos da categoria selecionada
            if (categoriaSelecionada === 'Matematicos' || categoriaSelecionada === 'Historia') {
                document.getElementById('imagem-container').style.display = 'block';
                document.getElementById('resumo-container').style.display = 'block';

            } else if (categoriaSelecionada === 'Exercicios') {
                document.getElementById('conteudo-container').style.display = 'block';
                document.getElementById('tipo-arquivo-container').style.display = 'block';
                document.getElementById('url-container').style.display = 'block';

            } else if (categoriaSelecionada === 'Novidades') {
                document.getElementById('imagem-container').style.display = 'block';
                document.getElementById('resumo-container').style.display = 'block';
            }
        });
    </script>
</main>

{% endblock %}
