{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <main>
        <section class="main container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6 col-lg-8">
                    <h1>Entre em uma aventura pelo mundo da matemática. </h1>
                    <p>Conheça as grandes mentes da matemática!</p>
                    <a href="{% url 'matematica' %}"><button type="button" class="">EMBARCAR!</button></a>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <img class="img-fluid" src="{% static 'images/Mathematics-bro (1) 1.png' %}" alt="Mathematics bro">
                </div>
            </div>
        </section>
        <section class="mais-vistos-bk container-fluid">
            <section class="exercicios row align-items-stretch">

                <div class="col-xl-8 col-lg-9 container-fluid">

                    <h2>Mais vistos da semana...</h2>
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-10 pitagoras">
                            <div class="row d-flex align-items-center">
                                <img class="col-3" src="{% static 'images/pitagoras.png' %}" alt="Pitagoras" alt="">
                                <div class="col-3">
                                    <h3>Pitágoras</h3>

                                    <p class="ano"> 570 a.C.</p>
                                </div>
                            </div>
                            <p class="p-pitagoras">Pitágoras nasceu na ilha grega de Samos em 570 a.C. e faleceu por
                                volta de 496 a.C. O
                                pensador
                                grego,
                                além de filósofo e exímio matemático e astrônomo, deixou significativas contribuições
                                para a
                                Música
                                ao
                                descobrir relações matemáticas entre os sons emitidos por cordas tensionadas que deram
                                origem a
                                uma
                                nova
                                escala tonal grega. Foi na Magna Grécia, região onde hoje está o território italiano,
                                que o
                                pensador
                                antigo fundou a sua escola e passou boa parte de sua vida.</p>
                            <div class="d-flex justify-content-end ">
                                <a href="pitagoras"><button type="button" class="conheca">Conheça
                                        mais...</button></a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4">
                            <div class="filosofo marg">
                                <div class="row">
                                    <img class="col-xl-5 col-lg-5 col-md-4 col-3 " src="{% static 'images/descartes.png' %}" alt="descartes">
                                    <div class="col-xl-7 col-lg-7 col-md-6 col-5">
                                        <h5>René</h5>

                                        <h6>Descartes</h6>
                                    </div>
                                </div>
                                <p>Exemplo exemplo exemplo

                                    exemplo exemplo exemplo...
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="descartes"><button type="button" class="conheca-peq ">Conheça
                                            mais...</button></a>
                                </div>
                            </div>
                            <div class="filosofo marg">
                                <div class="row">
                                    <img class="col-xl-5 col-lg-5 col-md-4 col-3 " src="{% static 'images/euler.png' %}" alt="euler">
                                    <div class="col-xl-7 col-lg-7 col-md-6 col-5">
                                        <h5>Leonard</h5>

                                        <h6>Euler</h6>
                                    </div>
                                </div>
                                <p>Exemplo exemplo exemplo

                                    exemplo exemplo exemplo...
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="euler"><button type="button" class="conheca-peq ">Conheça
                                            mais...</button></a>
                                </div>
                            </div>
                            <div class="filosofo">
                                <div class="row">
                                    <img class="col-xl-5 col-lg-5 col-md-4 col-3 " src="{% static 'images/euclides.png' %}" alt="euclides">
                                    <div class="col-xl-7 col-lg-7 col-md-6 col-5">
                                        <h5>Euclides</h5>

                                        <h6></h6>
                                    </div>
                                </div>
                                <p>Exemplo exemplo exemplo
                                    exemplo exemplo exemplo...

                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="euclides"><button type="button" class="conheca-peq ">Conheça
                                            mais...</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-8 border-ex">
                    <h2>Exercícios</h2>
                    <div class="card-baixar">
                        <img src="{% static 'images/questionarios.png' %}" class="card-img-top" alt="...">
                        <div class="info-baixar align-items-center">
                            <div>
                                <h5 class="">Exercite sua mente com os nossos questionários.</h5>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'exercicios' %}"><button type="button" class="conheca">Baixar
                                            agora!</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="poesia">
            <h2>Venha conhecer também um pouco sobre os poetas matemáticos...</h2>
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="row rozanja d-flex justify-content-around">
                        <div class="col-4 ">
                            <img class="img-fluid" src="{% static 'images/rozanja.png' %}" alt="rozanja">
                        </div>
                        <div class="col-6">
                            <h4>Rozanja Almeida</h4>
                            <p>Professora do IFRN, poetisa, potiguar e grande amiga!</p>
                            <div class="d-flex justify-content-end ">
                                <button type="button" class="conheca-peq">Conheça mais...</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row aristonio d-flex justify-content-around">
                        <div class="col-6">
                            <h4>Francisco Aristônio</h4>
                            <p>Professor do IFRN, poeta, potiguar e grande amigo!</p>
                            <div class="d-flex justify-content-start ">
                                <button type="button" class="conheca-peq">Conheça mais...</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <img class=" img-fluid" src="{% static 'images/aristonio.png' %}" alt="aristonio">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 perimetro">
                    <div class="d-flex justify-content-center ">
                        <h3>Perímetro</h3>
                    </div>
                    <div class="row poesia-perimetro d-flex justify-content-evenly">
                        <div class="col-xl-5 col-lg-8">
                            <p>Se você quer calcular <br>
                                o perímetro pra valer <br>
                                tenha calma nessa hora <br>
                                ensinarei com prazer <br>
                                com rimas e poesias <br>
                                você vai compreender. <br>

                                O perímetro de um polígono <br>
                                é fácil de calcular <br>
                                juntando todos os lados <br>
                                tu consegues decifrar <br>
                                se você assim fizer <br>
                                é só adicionar.</p>
                        </div>
                        <div class="col-xl-5 col-lg-8">
                            <p>O perímetro é assim <br>
                                o contorno é só juntar <br>
                                não importa quantos lados <br>
                                nele vamos encontrar. <br>
                                coloque todos unidos <br>
                                e depois é só somar. <br>

                                Se você assim fizer <br>
                                sempre irá acertar <br>
                                e o seu conhecimento <br>
                                pode socializar <br>
                                agradeço os matemáticos <br>
                                que sempre vão pesquisar.</p>
                            <h6>-Rozanja Almeida</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <a href="{% url 'Poesias' %}"><button type="button" class="ler-mais">Ler mais...</button></a>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {% endblock %}