{% extends 'base.html' %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<style>

.quersaber{
    background: rgba(0, 36, 64, 0.9);
    border-radius: 20px;
    color: #FFFFFF;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

a{
    list-style: none;
    text-decoration: none;
    color: #050927;
}

.bt-quero{
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 35px;
    color: #050927;
    font-weight: bold;
    font-size: 16px;
}
.main{
    background-color: #FFFFFF;
    
    margin-left: 210px;
    margin-top: 30px;
}
.main img {
    margin-left: 20px;
}
.tabela{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    padding: 10px;
}
.euclides{
    margin-bottom: 20px;
}
.euclides img{
    margin-right: 30px;
}
.main p {
    text-align: justify;
}
.mostrar{
background: #002440;
border-radius: 30px;
border: none;
color: #FFFFFF;
width: 170px;
height: 40px;
font-weight: bold;
margin: 40px 0;
}

h2{
    font-weight: bold;
}
</style>
<main>
    <section class="quersaber container-fluid">
        <div class="row d-flex justify-content-around d-flex align-items-center">
            <div class="col-xl-2 col-lg-4 col-md-8">
                <h3>Quer saber mais?</h3>
                <button class="bt-quero">QUERO!</button>
            </div>
            <div class="col-xl-5 col-lg-8 col-md-8">
                <h3>A "Espiral de Arquimedes" e a "Alavanca" são algumas de suas invenções.</h3>
                <h3>Arquimedes, físico e inventor</h3>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-8">
                <img class="img-fluid" src="{% static 'images/quersaer.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="main">
        
        <div style="left: 0; display: flex; flex-direction: row;">
            <h2>Faça o download dos nossos exercícios e aprenda praticando!</h2>
            <div>
            <img class="img-fluid" width="60px" src="{% static 'images/baixar.png' %}" alt="">
        </div>
        </div>
    </section>

    <section class="tabela">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 30%;" scope="col">Conteúdo</th>
                    <th style="width: 30%;" scope="col">Type</th>
                    <th style="width: 30%;" scope="col">Download</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for postagem in object_list %}
               {% if postagem.categoria_postagem == 'Exercicios' %}
                <tr>
                    <td>{{ postagem.conteudo }}</td>
                    <td>{{ postagem.tipo_arquivo }}</td>
                    <td> <a target="_blank" href="{{ postagem.Url }}">Link</a></td>
                    <td>
                        <a target="_blank" href="{{ postagem.Url }}">
                            <img class="img-fluid" width="40px" src="{% static 'images/baixar.png' %}" alt="">
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

        </table>


    </section>
</main>

</body>

{% endblock %}