{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <main>
        <section class="main container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6 col-lg-8">
                    <h1>Entre em uma aventura pelo mundo da matemática. </h1>
                    <p>Conheça as grandes mentes da matemática!</p>
                    <a style="border-radius: 30px;" href="{% url 'Postagem:Historia' %}"><button type="button" style="border-radius: 30px;" class="">EMBARCAR!</button></a>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <img class="img-fluid" src="{% static 'images/Mathematics-bro (1) 1.png' %}" alt="Mathematics bro">
                </div>
            </div>
        </section>
        
        <section class="mais-vistos-bk container-fluid">
            <section class="exercicios row align-items-stretch">

                <div class="col-xl-8 col-lg-9 container-fluid">
                    {% if first_object_matematicos %}
                    <h2>Mais vistos da semana...</h2>
                    <div class="row">
                        <div style="height: 500px;" class="col-xl-9 col-lg-8 col-md-10 pitagoras">
                            
                            <div class="row d-flex align-items-center">
                                
                                <img style="width: 30%; border-radius: 20%;" class="col-3" src="{{ first_object_matematicos.imagem.url }}" alt="Pitagoras" alt="">
                         
                                <div class="col-3">
                                    <h3>{{ first_object_matematicos.titulo }}</h3>
                                    
                                </div>
                            </div>
                            <p class="p-pitagoras">{{ first_object_matematicos.Resumo }}</p>
                            <div class="d-flex justify-content-end ">
                                <a href="{% url 'Postagem:Detail_matematico' first_object_matematicos.id %}"><button type="button" class="conheca">Conheça
                                        mais</button></a>
                            </div>
                        </div>
                  
                    </div>
                    {% endif %}
                </div>
                <div class="col-xl-4 col-lg-8 border-ex">
                    <h2>Exercícios</h2>
                    <div class="card-baixar">
                        <img src="{% static 'images/questionarios.png' %}" class="card-img-top" alt="...">
                        <div class="info-baixar align-items-center">
                            <div>
                                <h5 class="">Exercite sua mente com os nossos questionários.</h5>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'Postagem:exercicios' %}"><button type="button" class="conheca">Baixar
                                            agora!</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="poesia">
            <h2 style="margin-bottom: 20px;">Venha conhecer também as novidades do mundo!</h2>
            <div class="row w-100">
                <div class="col-xl-6 col-lg-8 d-flex justify-content-around flex-wrap w-100">
                    {% for postagem in latest_objects_novidades %}
                    <div class="card mb-3 border rounded" style="width: 25rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <img class="card-img-top img-fluid" src="{{ postagem.imagem.url }}" alt="{{ postagem.titulo }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ postagem.titulo }}</h4>
                            <p class="card-text">{{ postagem.Resumo }}</p>
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'Postagem:Detail_matematico' postagem.id %}" class="btn btn-primary">Conheça mais...</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
        
        

    </main>
    {% endblock %}