{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
</style>
<main style="margin-top: 100px;">
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-5 font-weight-bold"> {{ postagem.titulo }}</h1>
                <h3 class="h5">{{ postagem.Resumo }}</h3>
                <p class="font-italic text-muted small">Por {{ postagem.created_by }} em {{ postagem.created_at|date:"F j, Y" }}</p>

                <hr class="my-4 shadow">

                <section style="margin-left: -40px;width: 100%;" class="container larger-container my-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                           
                            <img src="{{ postagem.imagem.url }}" alt="{{ postagem.titulo }}" class="img-fluid rounded" style="max-width: 110%; height: auto;">
                            <p class="mt-4 text-justify" style="font-size: 18px;">{{ postagem.Texto }}</p>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'Postagem:Novidades' %}" class="btn btn-primary">Voltar</a>
                    </div>
                </section>
                
            </div>
        </div>

    </section>
</main>
{% endblock %}
