<form action="{% url 'users:delete_users' object.pk %}" method="post">
    {% csrf_token %}
    <div class="modal fade"
         id="deleteModal-{{ object.pk }}"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmação de Exclusão</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">Deseja excluir o usuário {{ object.name }}?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </form>