{% extends "account/base.html" %}
{% load static %}
{% load static i18n %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

<style>
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;  /* Adicionando esta linha para ocultar a barra de rolagem */
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    main {
        width: 100%;
        height: 100%;
        overflow-y: auto;  /* Adicionando esta linha para permitir rolagem dentro da main */
        padding: 20px;     /* Adicionando algum espaço interno para evitar sobreposição com a barra de rolagem */
    }
</style>

<main>
    <div style="margin-top: 40px;">
        <h1>{% translate "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}  
            <input class="btn btn-primary" type="submit" value="{% translate 'Reset My Password' %}" />
        </form>
    </div>

    <p style="margin-bottom: 20px;">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
</main>

{% endblock %}
