{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
<style>
    footer {
        position: absolute;
        bottom: 0;
    }


</style>
<div class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center mt-4"> <!-- Adicionada a classe mt-4 para uma margem superior de 40px -->
    <div style="margin-top: 40px;" class="col-md-5 col-lg-5 col-xl-5 col-12">
      <h1 class="text-h1 text-center">
        {% if token_fail %}
          {% trans "Token Inválido" %}
        {% else %}
          {% trans "Alterar Senha" %}
        {% endif %}
      </h1>
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">
          {% blocktrans %}
          O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.
          {% endblocktrans %}
        </p>
      {% else %}
        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
          {% csrf_token %}
          <div class="mb-3 input-button">
            <label for="id_password1" class="form-label">{% trans "Nova Senha" %}</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
              </svg></i></span>
              <input type="password" name="password1" class="form-control toggle-password" id="id_password1">
              <button type="button" class="btn btn-outline-secondary toggle-button" aria-label="Mostrar Senha">
                <i class="fas fa-eye" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                  </svg></i>
              </button>
            </div>
          </div>
          <div class="mb-3 input-button">
            <label for="id_password2" class="form-label">{% trans "Confirmar Senha" %}</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
              </svg></i></i></span>
              <input type="password" name="password2" class="form-control toggle-password" id="id_password2">
              <button type="button" class="btn btn-outline-secondary toggle-button" aria-label="Mostrar Senha">
                <i class="fas fa-eye" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                  </svg></i>
              </button>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            {% trans 'Alterar Senha' %}
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleButtons = document.querySelectorAll(".toggle-button");
      const passwordInputs = document.querySelectorAll(".toggle-password");
      
      toggleButtons.forEach(function(button, index) {
        togglePassword(button, passwordInputs[index]);
      });
  
      function togglePassword(button, passwordInput) {
        button.addEventListener("click", function() {
          const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
          passwordInput.setAttribute("type", type);
          button.innerHTML = type === "password" ? '<i class="fas fa-eye" aria-hidden="true"></i>' : '<i class="fas fa-eye-slash" aria-hidden="true"></i>';
        });
      }
    });
  </script>
{% endblock %}
