{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
<style>
  body {
    width: 100%;
    height: 100%;
  }
    footer {
        position: absolute;
        bottom: 0;
    }
</style>
<div style="width: 100%;" class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center">
    <div class="col-md-5 col-lg-5 col-xl-5 col-12">
      <h1 class="text-h1 text-center">{% trans "Redefinição de Senha" %}</h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}   
      <p class="text-center">
        {% blocktrans %}Enviamos um e-mail para você. Se você não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos.{% endblocktrans %}
      </p>
    </div>
  </div>
  
{% endblock %}
