{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
<style>

</style>
<br><br>
<div class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center">
    <div class="col-md-5 col-lg-5 col-xl-5 col-12">
      {% include "layouts/alerts.html" %}
      <h1 class="text-h1 text-center">{% trans "Alterar Senha" %}</h1>
      <form class="login" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_oldpassword" class="form-label">{% trans "Senha Antiga:" %}</label>
          <div class="input-group">

            <input type="password" name="oldpassword" class="form-control" id="id_oldpassword" placeholder="{% trans 'Senha Antiga' %}">
          </div>
        </div>
        <div class="mb-3 input-button">
          <label for="id_password1" class="form-label">{% trans "Nova Senha:" %}</label>
          <div class="input-group">

            <input type="password" name="password1" class="form-control toggle-password" placeholder="{% trans 'Nova Senha' %}">
          </div>
          <small class="text-muted">{% trans "Sua nova senha deve conter pelo menos 8 caracteres e não deve ser muito semelhante às suas informações pessoais." %}</small>
        </div>
        <div class="mb-3 input-button">
          <label for="id_password2"  class="form-label">{% trans "Confirmar Nova Senha:" %}</label>
          <div class="input-group">
        
            <input type="password" name="password2" class="form-control toggle-password" placeholder="{% trans 'Confirmar Nova Senha' %}">
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="mb-3">
          <button class="btn btn-primary btn-block" type="submit">{% trans "Alterar Senha" %}</button>
        </div>
      </form>
      <hr>
      <p  class="first-access-href text-center">
        <a style="text-decoration-line: none" href="{% url 'account_reset_password' %}">{% translate "Esqueceu a Senha?" %}</a>
      </p>
    </div>
  </div>
  
{% endblock %}
