{% extends "base_dashboard.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}
<style>
    footer {
        position: absolute;
        bottom: 0;
    }

    main{
        margin-top: 30px;
    }
</style>
<div class="container-fluid main">
<p>oi</p>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="action" value="{% translate 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
