{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
<style>
    footer {
        position: absolute;
        bottom: 0;
    }

header{
    margin-bottom: 30px;
}
</style>
  <div class="main-content pl-sm-3 mt-4 d-flex justify-content-center align-items-center main">
    <div class="col-md-5 col-lg-5 col-xl-5 col-12 text-center">
      <h1 class="text-h1">{% trans "Alterar Senha" %}</h1>
      <h5 class="text-center">{% trans 'Sua senha foi alterada com sucesso.' %}</h5>
    </div>
  </div>
  
{% endblock %}
