body {
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    width: 95%;
    margin: auto;
    background-color: #FFFFFF;
  
  }
  
  nav form {
    width: 28rem;
  }
  
  a {
    list-style: none;
    text-decoration: none;
    color: #050927;
  }
  
  nav input {
    margin-left: 50px;
  }
  
  nav li {
    margin: 0 28px;
  }
  
  nav ul button {
    width: 180px;
    background-color: blue;
    color: #FFFFFF;
    border: none;
    margin-left: 30px;
  }
  
  .logo {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #050927;
  }
  
  main {
    color: #050927;
  }
  
  .main {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    width: 85%;
    margin: auto;
    margin-top: 60px;
  }
  
  .main h1 {
    padding-bottom: 20px;
    font-weight: bold;
  }
  
  .main p {
    padding-bottom: 20px;
    font-weight: 300;
  
  }
  
  .main button {
    width: 160px;
    height: 50px;
    margin-bottom: 20px;
    background-color: blue;
    color: #FFFFFF;
    border: none;
  }
  
  .mais-vistos-bk {
    background-color: #D9D9D9;
  
  }
  
  .exercicios {
    width: 85%;
    margin: auto;
    padding: 50px 0;
  
  }
  
  .exercicios h2 {
    font-weight: bold;
  }
  
  .exercicios h3 {
    font-weight: 700;
  }
  
  .exercicios h5,
  .exercicios h6 {
    font-weight: 600;
  }
  
  .conheca {
    background: #0318D3;
    border-radius: 30px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    font-weight: 700;
    border: none
  }
  
  .conheca-peq {
    background: #0318D3;
    border-radius: 30px;
    color: #FFFFFF;
    width: 120px;
    height: 30px;
    font-weight: 700;
    border: none;
    font-size: 10px;
  }
  
  .pitagoras {
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
  }
  
  .p-pitagoras {
    margin: 20px 0 80px 0;
  
  }
  
  .pitagoras h3 {
    border-bottom: 3px solid #050927;
    padding-bottom: 14px;
  }
  
  .ano {
    padding-top: 7px;
  }
  
  .filosofo {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
  
  }
  
  .marg {
    margin-bottom: 16px;
  }
  
  .filosofo p {
    font-size: 12px;
  }
  
  .filosofo h5 {
    border-bottom: 3px solid #050927;
  }
  
  .border-ex {
    border-left: 1px solid #ABABAB;
  }
  
  .card-baixar {
    height: 92%;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
  
  .info-baixar {
    padding: 40px;
  }
  
  .info-baixar h5 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 100px;
  }
  
  .poesia {
    width: 85%;
    margin: auto;
    padding: 50px 0;
  }
  
  .poesia h2,
  .poesia h3 {
    font-weight: bold;
  }
  
  .poesia h2 {
    width: 45%;
    line-height: 50px
  }
  
  .border-aristonio {
    border-top: 1px solid #ABABAB;
  
  }
  
  .rozanja,
  .aristonio {
    padding: 24px 10px;
  }
  
  .perimetro {
    border-left: 1px solid #ABABAB;
    padding: 0 40px;
  }
  
  .poesia-perimetro {
    margin-top: 30px;
  }
  
  .ler-mais {
    background: #0318D3;
    border-radius: 30px;
    color: #FFFFFF;
    width: 140px;
    height: 36px;
    font-weight: 700;
    border: none;
    margin-top: 60px;
  }
  
  
  .p-ifrn {
    text-align: center;
    margin-top: 10px;
  }
  
  .links {
    list-style: none;
    font-size: 14px;
  
  }
  
  .links a {
    text-decoration: none;
    color: #050927;
  }
  
  .links li {
    margin: 5px 0;
  }
  
  .numero {
    margin: 30px 0;
  }
  
  .border-links {
    border-bottom: 2px solid #0318D3;
    width: 80%;
  }
  footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    background-color: #E4E4E4;
    padding: 50px 0;
  }   